<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fields</title>
    <link th:href="@{/webjars/bootstrap/5.0.0-beta3/css/bootstrap.min.css}" href="../static/css/bootstrap/bootstrap.css"
          rel="stylesheet">
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet">
    <script th:src="@{/webjars/bootstrap/5.0.0-beta3/js/bootstrap.js}"
            src="../static/js/bootstrap/bootstrap.js"></script>
</head>
<body class="bg-light">
<nav th:replace="header :: navbar">
</nav>

</body>
</html>